.bg-1 {
  height: 50rem;
  background-image: url("city-lights.jpeg");
  background-size: cover;
  overflow: hidden;
}

.bg-2 {
  height: 45rem;
  background-color: #a5adb0;
}

.bg-3 {
  height: 45rem;
  background-image: url("palms.JPG");
  background-size: cover;
  overflow: hidden;
}
