#website-header {
  font-family: 'Ubuntu', sans-serif;
}

#projects-header {
  font-family: 'Ubuntu', sans-serif;
}

#specialties-header {
  font-family: 'Ubuntu', sans-serif;
}

#contact-header {
  font-family: 'Ubuntu', sans-serif;
}

#admin-header {
  font-family: 'Ubuntu', sans-serif;
}

#display-messages-header {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 30px;
}

#new-blogpost-header {
  font-family: 'Ubuntu', sans-serif;
}

#blogposts-header {
  font-family: 'Ubuntu', sans-serif;
}

#individual-post-header {
  font-family: 'Montserrat', sans-serif;
  margin-left: 45px;
  margin-right: 45px;
  color: #191919;
}
