.tabs-content {
  padding-left: 20px;
  padding-right: 20px;
}

.tabs {
  padding-top: 110px;
}

.tabs.vertical {
  margin: 0;
  margin-bottom: 1.25rem !important;
  max-width: 110%;
  width: 110% !important;
}

.tabs .tab-title.active a {
  background-color: #33847E;
  color: #fff;
}

.tabs .tab-title a {
  background-color: #01665e;
  color: #fff;
  border: 2px solid #3F3F3F;
}

.tabs .tab-title.first a {
  background-color: #01665e;
  color: #fff;
  border-radius: 25px 0 0 0;
}

.tabs .tab-title.last a {
  background-color: #01665e;
  color: #fff;
  border-radius: 0 0 0 25px;
}

.tabs .tab-title a:hover {
  background-color: #33847E;
  color: #fff;
}
